{% extends 'base.html' %}
{% block content %}
    <section class="login-section">
        <div class="login-container">
            <h2>Welcome Back</h2>
            <p>Please login to your account.</p>
            {% include "includes/errors.html" %}
            <form action="#" method="post" class="login-form">
                {% csrf_token %}
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Username or Email" required />
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <button type="submit">Login</button>
            <p class="forgot-password"><a href="{% url 'blog:forgot_password' %}">Forgot password?</a></p>
            </form>
        </div>
    </section>
{% endblock %}